header {
    background: #101010;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.nav-link {
    color: #f2f2f2 !important;
}

.nav-link:hover {
    color: #d3ae67 !important;
}

#carrusel {
    color: whitesmoke;
}

#carrusel .carousel-inner img {
    max-height: 50vh !important;
    object-fit: cover !important;
}

#carouselExampleCaptions {
    position: relative;
}

#carouselExampleCaptions .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6)
}

.btn-submit {
background-color: #101010 !important;
color: whitesmoke !important;
}

.btn-submit:hover {
background-color: whitesmoke !important;
color: #101010 !important;
}



body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0px;
    background: #white;
    padding-left: 10px;
}

h2 {
    color: #d3ae67;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.presentation {
    padding: 10px;
}

.hero {
    /* background-image: url('../Desarrollo Web/ImaÌgenes/roma1-2.jpg');
    background-repeat: no-repeat;
    background-size: 500px 300px;
    background-position-x: right; */

    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 0;
    justify-content: space-between;
    margin-top: 60px;

}

.hero img {
    width: 500px;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

h1 small {
    font-size: 20px;
    color: #d3ae67;
}

.content {
    padding: 10px;
}

.projects {
    background: #101010;
    color: whitesmoke;
    border: 3px solid #d3ae67;
    border-radius: 6px;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

.imageboxes {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imagecaption {
    padding: 10px;
}

.imagecaption2 {
    padding: 10px;
}

.imagecaption2 a {
    color: #d3ae67;
    text-decoration: none;
    font-weight: bolder
}

.imagecaption2 a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.aboutimage {
    margin: 20px;
}

.box {
    border: 1.5px solid #d3ae67;
    border-radius: 4px;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

.box img {
    overflow: hidden;
}

.contact {
    padding: 10px
}

#footer {
    background-color: #101010;
    color: #d3ae67;
    display: flex;
    font-size: 10px;
}

#footer a {
    color: whitesmoke;
    text-decoration: none;
}

#formulario {

    background-color: whitesmoke;


    align-items: center;
    padding-left: 25px;
    padding-right: 250px;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.social-link {
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin: 12px;
}

.social-link:hover {
    width: 65px;
    height: 65px;
}

.social-link.twitter {
    background-image: url('https://image.flaticon.com/icons/png/512/1384/1384065.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.social-link.facebook {
    background-image: url('https://image.flaticon.com/icons/png/512/174/174848.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.social-link.instagram {
    background-image: url('https://image.flaticon.com/icons/png/512/733/733558.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.social-link.github {
    background-image: url('https://image.flaticon.com/icons/png/512/38/38401.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}
.social-link.linkedin {
    background-image: url('https://image.flaticon.com/icons/png/512/174/174857.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.form-style-4 {
    font-size: 12px;
    background: #d3ae67;
    padding: 15px;
    align-items: center;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #101010;
    justify-content: center;
    align-items: center
}

.form-style-4 label {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-style-4 label>span {
    margin-right: 100px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email] {
    border: none;
    background: transparent;
    width: 400px;
    border-bottom: 1px dashed #101010;
    outline: none;
}

.form-style-4 textarea {
    padding: 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #101010;
    width: 400px;
    overflow: hidden;
    resize: none;
    height: 20px;
    align-items: center;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus {
    border-bottom: 1px dashed whitesmoke;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button] {
    background: #101010;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    color: whitesmoke;
    width: 200px;
    border: none;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
    display: flex
}

.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover {
    background: whitesmoke;
    color: #d3ae67;
}

@media screen and (max-width: 768px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .form-style-4 textarea {
        padding-right: 100px;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px dashed #101010;
        width: 200px;
        overflow: hidden;
        resize: none;
        height: 20px;
        align-items: center;
    }
    .form-style-4 input[type=text],
    .form-style-4 input[type=email] {
        border: none;
        background: transparent;
        width: 200px;
        border-bottom: 1px dashed #101010;
        outline: none;
        padding-right: 100px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .social-link {
        width: 35px;
        height: 35px;
        float: left;
        margin-left: 5px;
        justify-content: center;
    }
    .formulario {
        padding-right: 50px;
    }
    .form-style-4 {
        width: 100%
    }
}